body {
    background-image:url(https://image.freepik.com/free-photo/white-stone-textures-for-background_1203-3096.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
    color: black;
    display: inline-block;
    float: right;
    margin-right: 100px;
}

h1, h2, h3 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
    margin-left: 100px;
    margin-bottom: 0px;
    padding: 0 10px 0 10px;
}

h2 {
    font-size: 25px;
    text-align: center;
}

h3 {
    font-size: 15px;
    padding: 30px;
}



.header {
    display: inline-block;
    position: fixed;
    z-index: 100;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
    width: 100%;
    border: 2px solid lightblue;
}

.container {
    display: block;
    position: absolute;
    margin: 50px 100px 80px 100px;
}

.col-md-3 .col-md-4 .col-md-8{
    width: 100%;
    border: 2px solid lightblue;
}

.siteimage {
    height: 100%;
    width: 100%;
    padding: 30px 10px 10px 10px;
}



#row1 {
    height: 100%;
    position: relative;
    top: 60px;
    bottom: 60px;
    border: solid 2px lightblue;   
    background-color: white;
}

#profilepic {
    height:100%;
    width: 100%;
}
